@import "config";

/* BEM support Func
 -------------------------- */

/// See [Combinators](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors#Combinators "CSS selectors")
$_selector-combinators: ("+", "~", ">", "||");

@function bem-extend($selectors, $extendee, $extender) {
  $returns: ();

  @if null == $selectors {
    $selectors: selector-parse("");
  }

  @each $selector in $selectors {
    $len: length($selector);

    @if nth($selector, $len) == $extendee {
      @if $len >= 2 {
        @if index($_selector-combinators, nth($selector, $len - 1)) == null {
          $returns: append($returns, set-nth($selector, $len, $extender), "comma");
        } @else {
          $returns: append($returns, append($selector, $extender), "comma");
        }
      } @else {
        $returns: append($returns, ($extender), "comma");
      }
    } @else {
      $returns: append($returns, append($selector, $extender), "comma");
    }
  }

  @return $returns;
}
